<.header>
  New <%= @resource %>
  <:subtitle>Use this form to manage <%= @singular %> records in your database.</:subtitle>
</.header>

<.<%= @singular %>_form form={@form} action={~p"/<%= @plural %>/"} />

<.back navigate={~p"/<%= @plural %>"}>Back to <%= @plural %></.back>
