name: CI

on:
  push:
    tags:
      - "v*"
    branches: [main]
  workflow_call:
  pull_request:
    branches: [main]
jobs:
  ash-ci:
    uses: ash-project/ash/.github/workflows/ash-ci.yml@main
    with:
      spark-formatter: false
    secrets:
      HEX_API_KEY: ${{ secrets.HEX_API_KEY }}
